@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$primary: #0075FF;
$secondary: #1E1E1E;

$theme-colors: (primary: $primary,
    secondary: $secondary,
);

$input-placeholder-color: rgba(255, 255, 255, 0.48);


// (Required) Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

a {
    color: $primary;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #2D2D2D;
    color:#fff;
    background-size: cover; 
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: none;
    &:before {
        position: fixed;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    background: #02023147;
    z-index: -1;
    bottom: 0;
    }
}

label {
    font-weight:700;
}

.form-control {
    border: 1px solid #595959;
background: #595959;
border-radius: 0;
color:#fff;
box-shadow:0px 0px 0px 0px $primary;
transition: box-shadow 200ms linear;
&:focus,&:active {
    border: 1px solid #595959;
    background: #595959;
    color:#fff;
    outline:none;
    box-shadow:0px 0px 0px 1px $primary;
}
}

.navbar {
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:9;
    background:linear-gradient(180deg, #000000a3, transparent);
    .navbar-brand {
        a {
            font-weight: bold;
font-size: 28px;
color: #FFFFFF;
text-decoration: none;
span {
    color:$primary;
    font-size:14px;
}
&:hover {
    color:#fff;
}
        }
    }
    form {
        position:relative;
        button {
            border:0;
            color:rgba(255, 255, 255, 0.48);
            background:transparent;
            top: 4px;
            position:absolute;
        }
        .form-control {
            border:1px solid #595959;
            background: #595959;
            border-radius:0;
            padding-left:40px;
        }
    }
}

.modal-content {
    background-color:#151515;
    border-radius:0;
    .modal-header{
        border:0;
    }
    .modal-footer {
        border:0;
    }
}



.btn {
    border-radius:0;
    padding: 0.53rem 1.25rem;
    font-weight: 600;
        font-size: 14px;
        line-height: 21px;    
        align-items: center;
        text-align: center;     
        border:0;
    &.btn-primary {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #0075FF;
        font-weight: 600;       
        color: #FFFFFF;
  
    }
    &.btn-secondary {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #1E1E1E;
    }
    &.btn-default {
        color:#0075FF;
        box-shadow:inset 0px 0px 0px 2px #0075FF;
    }
}

.dropdown-menu {
    background:#000000c9;
    border-radius:0;
    border:0;
    .dropdown-item {
        color:#fff;
        font-size:14px;
        &:hover {
            color:$primary;
            background:transparent;
        }
    }
}

.nfts-big {
    padding:130px 0 80px 0;
    background: linear-gradient(95.32deg, #1F1F1F 7.16%, rgba(22, 22, 22, 0) 98.85%);
}

.single-nft-main {
    color:#fff;
    padding:130px 0 80px 0;
    background: linear-gradient(95.32deg, #1F1F1F 7.16%, rgba(22, 22, 22, 0) 98.85%);
    position:relative;
    width:100%;
    overflow:hidden;
    .nft-stats {
        background: #191921;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
        h6 {
            margin-bottom: 0;
            color: #0778ff;
            font-size:14px;
        }
        p {
            margin:0;
            font-weight:700;
            font-size:18px;
        }
    }
    .nft-bidding {
        background: #191921;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        height:100%;
        h6 {
            margin-bottom: 0;
            color: #0778ff;
            font-size:14px;
        }
        p {
            margin:0;
            font-weight:700;
            font-size:18px;
        }
        &.success {
            background: linear-gradient(
                45deg
                , #75ca5266, transparent);
                    box-shadow: inset 0px 0px 0px 2px #406039;
                    h6 {
                        color: #4fbb3a;
                    }
        }
        &.warning {
            background: linear-gradient( 
                45deg
                 , #c3a22866, transparent);
                    box-shadow: inset 0px 0px 0px 2px #ad8b24;
                    h6 {
                        color: #ad8b24;
                    }
        }
    }
    table {
        color:#fff;
        border-color: #595959b0;
    }
    .title {
        font-weight:700;
        margin-bottom:0;
        font-size: 38px;
    }
    .author {
        opacity:0.5;
        margin-bottom:20px;
    }
    .description {
        margin-bottom:20px;
    }
    h5 {
        border-left: 2px solid #0e7dff;
    padding-left: 10px;
    background: #00000038;
    padding: 10px 10px;
    font-weight: 600;
    }
    .input-group {
        .input-group-text {
            background:#1E1E1E;
            border-color:#595959;
            border-radius:0;
        }
        .form-control {
            border: 1px solid #595959;
    background: #595959;
    border-radius: 0;
    color:#fff;
    font-weight:700;
    font-size:21px;
        }
    }
}



.nfts {
    padding:25px 0;
    margin-top:35px;
    color:#fff;
    .heading {
        h3 {
            margin-bottom:0;
            font-weight: bold;
            font-size: 25px;
            color: #FFFFFF;
        }
        p {
            font-size: 16px;
            opacity:0.5;
            margin-bottom:20px;
        }
    }
}


.nft-card {    
    background: linear-gradient(157.28deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.034) 45.83%, rgba(255, 255, 255, 0.09375) 48.96%, rgba(255, 255, 255, 0) 100%), url('/img/cardbg.png');   
    margin-bottom:28px;
    border-radius: 15px;
    border:0;
    overflow:hidden;
    position:relative;
    box-shadow: 0px 10px 14px #00000061;
    .card-img {
        position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
    
    .card-img-overlay {
        background:linear-gradient(45deg, rgba(0, 0, 0, 0.623), transparent);
        transition:background 200ms linear;
    }
    &.big {
        height:462px;
        .nft-info {
            .card-title {
                font-weight: bold;
                font-size: 37px;
                color: #FFFFFF;
            }
        }
    }
    &.xl {
   
        .nft-info {
            .card-title {
                font-weight: bold;
                font-size: 37px;
                color: #FFFFFF;
            }
        }
        @media(max-width:768px){
            height: 335px;
            .nft-info {
                .card-title {
                    font-weight: bold;
                    font-size: 24px;
                    color: #FFFFFF;
                }
            }
        }
    }
    &.small {
        .nft-info {
            .card-title {
                font-weight: bold;
                font-size: 21px;
                color: #FFFFFF;
            }
        }
    }
}

.nft-modal {
    .btn-close {
        color:#fff;
    }
    .modal-content {
        color:#fff;
        border:0;
        .modal-header {            
            border:0;
        }
        .modal-body {
            .nft-art {
                box-shadow: inset 3px 3px 0px 1px #00000052, inset -3px -3px 0px 1px #ffffff3b;
                background-size:cover !important;
                background-position:center center !important;
                background-repeat:no-repeat !important;
                box-sizing: border-box;
                border-radius: 4px;
                background:#000;
                height:345px;
            }
            .nft-counter {
                color: #fff;
                text-align: center;
                margin-top: -74px;
                background: #00000091;
                padding: 10px 0;
                p {
                    margin:0;
                    font-size:36px;
                    text-shadow: 2px 2px 0px #000;
                }
            }
            ul {
                margin:0;
                padding:0;
                list-style: none;
                li {
                    margin-bottom:5px;
                }
            }
            p {
                font-size:14px;
                text-shadow: 2px 2px 0px #000;
                &.title {
                    color:$primary;
                }
            }
        }
        .modal-footer {
            border:0;
        }
    }
    
}

.nft-preview{
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 5px 45px #000;
    img {
        border-radius:20px;
    }
}

.nft-loader {
    background:#1F1F1F;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    visibility: hidden;
    transition:all 200ms ease-out;
    &.show {
        opacity:1;
        transition:all 200ms ease-out;
        visibility: visible;
    }
}

.countdown {
    bottom: 0;
    padding: 2%;
    top: unset;
    background: #00000096;
    height: auto;
    .time-low {
        font-size:12px;
        text-transform:uppercase;
        opacity:0.6;
    }
    .time {
        font-size:2vw;
        font-weight:700;
    }
}


/*Right*/
.modal{
    &.right {
        &.fade { 
	.modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
        right: -320px;
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		-o-transition: opacity 0.3s linear, right 0.3s ease-out;
		transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	.modal-content {
		height: 100%;
		overflow-y: auto;
	}
	.modal-body {
		padding: 15px 15px 80px;
	}

    &.show {
        -webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
        .modal-dialog {
            right: 0;
        }
    }
}
}
}


.modal {
    small {
        font-size: 11px;
    color: #308fff;
    }
}